@font-face {
    font-family: 'ChristmasChalk';
    src: url('../fonts/ChristmasChalk.ttf');
}

.root {
    -fx-font-family: "Vagabundo Medium";
}

.main-background {
    -fx-background-image: url("../images/table_texture.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.leaderboard-background {
    -fx-background-image: url("../images/leaderboard_back.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-color: #000000;
}

.table-view, .table-cell {
    -fx-font-family: 'ChristmasChalk';
    -fx-font-size: 16px;
}

.mesos-button {
    -fx-font-family: "Vagabundo Medium";
    -fx-background-color: linear-gradient(to bottom, #f39c12, #d35400);
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-padding: 15px 15px;
    -fx-background-radius: 40px;
    -fx-border-radius: 40px;
    -fx-border-color: #a04000;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 5);
}

.mesos-button:hover {
    -fx-background-color: linear-gradient(to bottom, #e67e22, #ba4a00);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 15, 0, 0, 8);
}


.join-button {
    -fx-font-family: "Vagabundo Medium";
    -fx-background-color: linear-gradient(to bottom, #f39c12, #d35400);
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-padding: 15px 20px;
    -fx-background-radius: 40px;
    -fx-border-radius: 40px;
    -fx-border-color: #a04000;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 5);
}

.join-button:hover {
    -fx-background-color: linear-gradient(to bottom, #e67e22, #ba4a00);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 15, 0, 0, 8);
}

.quit-button {
    -fx-background-image: url('../images/exit_button.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
}

.quit-button:hover {
    -fx-opacity: 0.8;
}

.quit-button:pressed {
    -fx-opacity: 0.6;
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}

.network-toggle {
    -fx-font-family: "Vagabundo Medium";
    -fx-background-color: linear-gradient(to bottom, #f39c12, #d35400);
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-padding: 15px 40px;
    -fx-background-radius: 40px;
    -fx-border-radius: 40px;
    -fx-border-color: #a04000;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 5);
}

.network-toggle:selected {
    -fx-background-color: linear-gradient(to bottom, #f39d12be, #d3540098);
    -fx-text-fill: white;
    -fx-border-color: #a040005f;
    -fx-border-width: 2px;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
}

.network-toggle:selected:hover {
    -fx-background-color: #ffa533;
    -fx-text-fill: white;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 15, 0, 0, 8);
}


.toggle-player {
    -fx-font-family: "Vagabundo Medium";
    -fx-background-color: linear-gradient(to bottom, #f39c12, #d35400);
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-padding: 15px 40px;
    -fx-background-radius: 40px;
    -fx-border-radius: 40px;
    -fx-border-color: #a04000;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 5);
}

.toggle-player:selected {
    -fx-background-color: linear-gradient(to bottom, #f39d12be, #d3540098);
    -fx-text-fill: white;
    -fx-border-color: #a040005f;
    -fx-border-width: 2px;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
}

.toggle-player:selected:hover {
    -fx-background-color: #ffa533;
    -fx-text-fill: white;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 15, 0, 0, 8);
}

.card {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 4);
}

.card-highlight {
    -fx-stroke: gold;
    -fx-stroke-width: 3px;
    -fx-effect: dropshadow(gaussian, gold, 15, 0.7, 0, 0);
}

.card-not-drawable {
    -fx-effect: none;
    -fx-cursor: default;
}

.ip-field {
    -fx-font-family: "ChristmasChalk";
    -fx-font-size: 17px;
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 40px;
    -fx-border-color: #f39c12;
    -fx-border-width: 2px;
    -fx-border-radius: 40px;
    -fx-text-fill: white;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.5);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 4);
    -fx-padding: 0px 20px;
}

.ip-field .text-field, .ip-field .text {
    -fx-padding: 0;
}

.personalized-text {
    -fx-font-family: "Vagabundo Medium";
    -fx-font-size: 25px;
}

.tooltip {
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-effect: none;
}

.card-tooltip-content {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 12px;
    -fx-padding: 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.22), 8, 0, 0, 3);
}

.card-tooltip-title {
    -fx-text-fill: #000000;
    -fx-font-family: 'Vagabundo Medium';
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.card-tooltip-description {
    -fx-text-fill: #090909;
    -fx-font-family: 'Vagabundo Medium';
    -fx-font-size: 16px;
}